<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div id="section_title">
					<div class="row section-title-column">
						<div class="col-xs-12 col-md-4">
							Género: <span class="text-info">{{modelGenus.genero}}</span> 
		<!-- 								<span style="padding: 0 40px">&nbsp;</span> -->
						</div>
						<div class="col-xs-12 col-md-4">
							<small>Familia:</small>
							<small>
								<a href ng-click="nav.searchFamily(modelGenus.familia)">{{modelGenus.familia}}</a>
							</small>
						</div>
						<div class="hidden-xs col-md-4 text-right">
							<small><a target="_blank" ng-href="{{modelGenus.refFloraIberica}}">Enlace Flora iberica</a></small>
						</div>
					</div>	
					<div class="hidden-xs row col-md-4">
						<div ng-if="modelGenus.tribu != '-'" class="col-md-6">
							<table class="table">
								<thead>
									<tr><td><br><b>Tribu</b></td></tr>
								</thead>
								<tbody>
									<tr><td>{{modelGenus.tribu}}</td></tr>
								</tbody>
							</table>
						</div>
						<div  ng-if="modelGenus.subfamilia != '-'" class="col-md-6">
							<table class="table">
								<thead>
									<tr><td><br><b>Subfamilia</b></td></tr>
								</thead>
								<tbody>
									<tr><td>{{modelGenus.subfamilia}}</td></tr>
								</tbody>
							</table>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">					
					<div id="links">
						<div class="row">
						  <div ng-repeat="foto in modelGenus.fotos|limitTo:4" class="col-xs-6 col-md-3">
						    <a href="{{foto.originalURL}}" title="{{foto.comentario}}" data-gallery class="thumbnail">
						    	<img ng-src="{{foto.small240URL}}" alt="{{foto.comentario}}">
						    </a>
						    <div class="center-text">
								<a href ng-click="nav.searchSpecy(foto.descripcion)">
									<small>{{foto.descripcion}}</small>
								</a>
							</div>						    
						  </div>
						</div>
					</div>
					<ng-include src="'partials/gallery.html'"></ng-include>
			</div>
		</div>
	</div>
	
	<div class="row bs-docs-example">
		<div class="form-group">
			<input ng-model="q" id="search" class="form-control" placeholder="Escribe para buscar">
		</div>					
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td><b>Nº Especies: {{modelGenus.especies.length}}</b></td>
					<td><b>Especie</b></td>
					<td class="hidden-xs hidden-sm"><b>Familia</b></td>
					<td class="hidden-xs"><b>Fitotipo</b></td>
					<td class="hidden-xs"><b>Subtipo</b></td>
					<td class="hidden-xs hidden-sm"><b>Color (flor)</b></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-animate=" 'animate' " dir-paginate="especie in modelGenus.especies | filter:q | itemsPerPage: pageSize" current-page="currentPage" >
<!-- 					<tr ng-repeat="especie in modelGenus.especies track by $index"> -->
<!-- 					<td><span class="badge badge-info">{{$index+1}}</span></td> -->
					<td>
						<a href ng-click="nav.searchSpecy(especie.nombre)" title={{especie.foto.comentario}} > 
							<img ng-src={{especie.foto.thumbnailURL}} alt={{especie.foto.comentario}}></img>
						</a>					
					</td>									
					<td>
						<a href ng-click="nav.searchSpecy(especie.nombre)">
						{{especie.nombre}}
						</a>
					</td>
					<td class="hidden-xs hidden-sm">
						<a href ng-click="nav.searchFamily(especie.familia)">
						{{especie.familia}}
						</a>
					</td>
					<td class="hidden-xs">{{especie.fitotipo}}</td>
					<td class="hidden-xs">{{especie.fitosubtipo}}</td>
					<td class="hidden-xs hidden-sm">{{especie.colorflor}}</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="components/pagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>