<header class="intro-header" style="background-image: url('img/moncayo-home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Flora de la comarca de Borja y el Moncayo</h1>
                    <p>Navega entre <b>{{numeroEspecies}} <a href="#/advancedSearch">especies</a></b>, <b>{{numeroZonas}} <a href="#/map">parajes</a></b> que contienen más de <b>{{numeroCitas}}</b> citas</p>
				    <form role="form">
				        <div class="row omnisearch">
				            <div class="form-group">
				                <input 
				                	ng-model="searchModel" 
				    				typeahead="res.label for res in getSearchResults($viewValue) | filter:$viewValue | limitTo:8" 
				    				typeahead-loading="loadingEspecies"  
				    				typeahead-on-select="onSelect($item, $model, $label)" 				                	
				                	placeholder="Busca especies, géneros, parajes..." 
				                	type="text" 
				                	class="form-control input-lg">
				                <i ng-show="loadingResults" class="glyphicon glyphicon-refresh"></i>
				            </div>
				        </div>
				    </form>

                   	<div class="row">
						<div class="col-md-12">
				
							<div id="links">
								<div class="row">
									<div ng-repeat="foto in fotosZona" class="col-xs-6 col-md-3">
										<a href ng-click="nav.searchZoneSect(foto.zona,foto.descripcion)" title={{foto.comentario}} class="thumbnail"> 
											<img ng-src={{foto.small240URL}} alt={{foto.comentario}}></img>
										</a>
									</div>
									  <div ng-repeat="foto in fotosEspecie"  class="col-xs-6 col-md-3">
									    <a href ng-click="nav.searchSpecy(foto.descripcion)" title={{foto.comentario}} class="thumbnail">
									    	<img ng-src={{foto.small240URL}} alt={{foto.comentario}}></img>	    	
									    </a>
									  </div>
								</div>
							</div>
						</div>
				
					</div>				    
				    
                    <hr class="small">
                    <span class="subheading">Paisajes y botánica de la comarca</span>
                </div>
            </div>
        </div>
    </div>
</header>
								
