<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">Denominaciones comunes</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="search">Search</label>
				<input ng-model="q" id="search" class="form-control" placeholder="Filter text">
			</div>
			<table class="table  table-striped table-hover">
				<caption>Denominaciones comunes</caption>
				<thead>
					<tr>
						<th>Género</th>
						<th>Color</th>
						<th>Lugar 1</th>
						<th>Lugar 2</th>
						<th>Comentario</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="cita in citasList | filter:q | itemsPerPage: 10" total-items="totalCitasList">
						<td>{{cita.especie.nomespec.nombreGen}}</td>
						<td>{{cita.especie.color}}</td>
						<td>{{cita.lugar}}</td>
						<td>{{cita.zona.nombre}}</td>
						<td>{{cita.comentario}}</td>
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="components/pagination/dirPagination.tpl.html"></dir-pagination-controls>
		</div>
	</div>
</div>

