<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="titleContainer">
				<div id="section_title" class="row">
					<div class="row section-title-row">
					    <div class="section-title-column col-md-7" style="height: 100px">
					    	<div class="row">				
								Especie: <span class="text-info">{{modelSpecy.datosTaxon.nombre}}</span>
<!-- 								<span style="padding: 0 40px">&nbsp;</span> -->
							</div>
							<div class="row">
								<small>
								<a href ng-click="filtrarPorFamilia(modelSpecy.datosTaxon.familia)">Familia:</a>
								</small>
								<small>
								<a href ng-click="nav.searchFamily(modelSpecy.datosTaxon.familia)">{{modelSpecy.datosTaxon.familia}}</a>
								</small>
								<small> <span id="iconFiltroFam" class="glyphicon glyphicon-pushpin"></span> </small>
							</div>
							<div class="row">
								<small>
								<a href ng-click="filtrarPorGenero(modelSpecy.datosTaxon.genero)">Género:</a>
								</small>
								<small>
								<a href ng-click="nav.searchGenus(modelSpecy.datosTaxon.genero)">{{modelSpecy.datosTaxon.genero}}</a>
								</small>
								<small> <span id="iconFiltroGen" class="glyphicon glyphicon-pushpin"></span> </small>
							</div>
						</div>
						<div class="col-md-5">
	
							<div class="row">
								<div class="col-md-6" id="sinonimos"  style="margin-top: 20px; height: 100px; overflow: auto;">
									<table class="table">
										<thead>
											<tr>
												<td><b>Nombres Científicos</b></td>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="nombre in modelSpecy.sinonimos track by $index">
												<td>{{nombre}}</td>
											</tr>
		
										</tbody>
									</table>
								</div>
								<div class="col-md-6" id="comunes" style="margin-top: 20px; height: 100px; overflow: auto;" ng-if="modelSpecy.comunes.length > 0">
									<table class="table">
										<thead>
											<tr>
												<td><b>Nombres Comunes</b></td>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="ncomun in modelSpecy.comunes">
												<td>{{ncomun}}</td>
											</tr>
		
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
					</div>
					<div class="row section-title-row" style="margin-top: 20px;">
						<a href ng-click="nav.previousSpecy(modelSpecy.datosTaxon.nombre)" class="btn btn-primary btn-xs">	
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Anterior
						</a>
						<a href ng-click="nav.randomSpecy()" class="btn btn-info btn-xs" role="button">Al azar</a>
						<a href ng-click="nav.nextSpecy(modelSpecy.datosTaxon.nombre)" class="btn btn-primary btn-xs">		
							Siguiente <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
						</a>					
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="photoContainer" ng-if="modelSpecy.fotos.length > 0" class="transformable row bs-docs-example" >
		
			<div class="col-md-12">
				<div id="links" ng-if="modelSpecy.fotos.length > 4" class="row">
					<a href ng-click="util.changePhotoLimit()" class="btn btn-info btn-xs" role="button">{{util.imageToggleText}}</a>
				</div>
				<div id="links" class="row">
					<div ng-repeat="foto in modelSpecy.fotos | limitTo:util.photoLimit" class="col-xs-6 col-md-3 thumbnail">
						<a href={{foto.originalURL}} title={{foto.comentario}}
							data-gallery> <img ng-src={{foto.small240URL}}
							alt={{foto.comentario}}></img>
						</a>
						<div class="center-text">
							<a href ng-click="nav.searchUTM('30T'+foto.utm)" title={{foto.comentario}} >
									<small>{{foto.utm}}</small>
							</a>
						</div>
					</div>
				</div>
				<ng-include src="'partials/gallery.html'"></ng-include>
			</div>
	</div>
	
	<div class="row bs-docs-example">
			<ul id="main_tabs" class="nav nav-tabs">
				<li class="active"><a href="javascript:;" data-target="#distribTab" data-toggle="tab">Mapa Distribución</a></li>
				<li><a href="javascript:;" data-target="#citasTab" data-toggle="tab">Listado citas</a></li>
<!-- 				<li><a href="javascript:;" data-target="#caractTab" data-toggle="tab">Características</a></li> -->
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="distribTab">
					<div class="row rightSidebar">
						<div class="col-md-8">
<!-- 							<div id="dvLoading"> -->
<!-- 								<div class="well"> -->
<!-- 									Cargando citas: -->
<!-- 									<div class="progress progress-striped active"> -->
<!-- 										<div class="bar" style="width: 100%;"></div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->

							<div id="wrapper">

								<div id="map_canvas"></div>
								<!-- 					<div id="map_canvas" class="map_style"></div> -->
<!-- 								<div id="legend" style="visibility: hidden" class="legend_main"></div> -->
								<div id="map_info" class="hidden-xs utm_search_taxon"></div>

							</div>

							<div id="mapButtons">
								<div class="btn-group">
									<button id="hideCitationsBt"
										class="btn btn-small citEnabled btn-info" type="button"
										onclick="showUTMSquares()">Citas</button>
								</div>

								<div class="btn-group">
									<button id="addGridBt" class="btn btn-small gridDisabled"
										type="button" onclick="loadUTMGrid()">UTMs10x10</button>
									<button id="addSectorGridBt"
										class="btn btn-small sectorGridDisabled" type="button"
										onclick="loadSectorGrid(false)">Sectores</button>
								</div>
								<!--<button class="btn btn-small" type="button" onclick="loadUTMGrid()">Descarga KML</button>-->

							</div>

<!-- 							<div id="legend_test"></div> -->

						</div>
						<div class="col-md-4">
							<div class="row">
								<b>Citas: </b> <span id="citationCount" class="badge badge-info">-</span>
								<b> UTMs: </b> <span id="utmCount" class="badge badge-info">-</span>
								<span ng-if="JacaEnabled">						
									<b> HerbarioJaca: </b> <span id="JacaCount" class="badge badge_Jaca">-</span>
								</span>
							</div>
							<div id="chart_div" style="width: 100%; height: 20px"></div>
							
							<table id="tabla_caract" class="table">
		       					<tbody>
		                  			<tr class="info">
		                  				<td class="col-md-2"><span class="label label-info">Presencia (comarca)</span></td>
		                  				<td class="col-md-2"><span class="label label-info">Frecuencia (comarca)</span></td>
		                  			</tr>
					                <tr>
										<td>{{modelSpecy.info.presComarca}}</td>
										<td>{{modelSpecy.info.frecComarca}}</td>
									</tr>
									
					            </tbody>
		                	</table>
		                	<table id="tabla_caract" class="table">
		       					<tbody>
		                  
		                  			<tr class="info">
		                  				<td class="col-md-4"><span class="label label-info">Comentario</span></td>
		                  			</tr>
					                <tr>
										<td>{{modelSpecy.info.comentario}}</td>
									</tr>
									
					            </tbody>
		                	</table>
							<table id="tabla_caract" class="table">
		       					<tbody>
			                  		<tr class="info">
		                  				<td class="col-md-3"><span class="label label-info">Fitotipo</span></td>
		                  				<td class="col-md-3"><span class="label label-info">Fitosubtipo</span></td>
		                  				<td class="col-md-6"><span class="label label-info">Color (Flor)</span></td>
		                  			</tr>
					                <tr> 
										<td>{{modelSpecy.info.fitoTipo}}</td>
										<td>{{modelSpecy.info.fitoSubtipo}}</td>
					                	<td>{{modelSpecy.info.color}}</td>
									</tr>
									
					            </tbody>
			                </table>
						</div>
					</div>


					
				</div>
				<div class="tab-pane" id="citasTab">
					<div class="col-md-12" style="overflow-x: auto">
						<div id="commentList">
							<table class="table">
								<thead>
									<tr>
										<td><b>#</b></td>
										<td><b>UTM</b></td>
										<td><b>Fecha</b></td>
										<td><b>Zona</b></td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="cita in modelSpecy.citas track by $index">
										<td><span class="badge badge-info">{{$index+1}}</span></td>
										<td>{{cita.utm1x1}}</td>
										<td>{{cita.laFecha}}</td>
										<td><a ng-if="cita.laZona !== 'Indefinido'" href ng-click="searchZone(cita.laZona, cita.sector)" >{{cita.laZona}}</a></td>
										<td>{{cita.elLugar}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
</div>