<div class="row">
	<div class="row">
		<div class="col-md-12">
		<div id="section_title">
			Familia: 
			<span class="text-info">{{modelFamily.familia}}</span>
			<span style="padding: 0 40px">&nbsp;</span> 
			<small>Grupo:</small> 
			<small class="text-info">{{modelFamily.familia}}</small>
			
<!-- 			<ng-include src="'partials/modalFloraIberica.html'"></ng-include> -->
			<small><a style="float: right;" target="_blank" ng-href="{{modelFamily.refFloraIberica}}">Enlace Flora iberica</a></small>
		</div>
		<div class="col-md-12">

			<div class="row">					
					<div id="links">
						<div class="row">
						  <div ng-repeat="foto in modelFamily.fotos|limitTo:4" class="col-xs-6 col-md-3">
						    <a href="{{foto.original}}" title="{{foto.comentario}}" data-gallery="" class="thumbnail">
						    	<img src="{{foto.thumbnail}}" alt="{{foto.comentario}}">
								<p class="text-info">
									<small>{{foto.descripcion}}</small>
								</p>
						    </a>
						  </div>
						</div>
					</div>
					<ng-include src="'partials/gallery.html'"></ng-include>
				</div>
		</div>
	</div>
</div>
<div class="bs-docs-example">
	<table class="table">
		<thead>
			<tr>
				<td><b>#</b></td>
				<td><b>Nombre del Taxon</b></td>
				<td><b>Mapa Distribución | Ficha biológica</b></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="especie in modelFamily.especies track by $index">
				<td>
					<span class="badge badge-info">{{$index+1}}</span>
				</td>
				<td>{{especie.nombre}}</td>
				<td>
					<a href ng-click="nav.searchSpecy(especie.nombre)">
						Ver Especie
					</a>
					/
					<a href ng-click="nav.searchGenus(especie.genero)">
						Ver Género
					</a>
				</td>

			</tr>
		</tbody>
	</table>
</div>
</div>
