<div class="row">
	<div class="jumbotron">
		<div class="container">
			<!-- 	<h1 class="col-lg-offset-3">Botánica</h1> -->
			<h1>Botánica</h1>
			<p>Flora presente en el Moncayo</p>

			<div class="row">
				<div class="col-md-3">
					<img class="img-responsive"
						ng-src="data:image/JPEG;base64,{{randomPhotoFlower}}">
				</div>
				<div class="col-md-3">
					<img class="img-responsive"
						ng-src="data:image/JPEG;base64,{{randomPhotoLandscape}}">
				</div>
				<div class="col-md-3">
					<img class="img-responsive"
						ng-src="data:image/JPEG;base64,{{randomPhotoFlower}}">
				</div>
				<div class="col-md-3">
					<img class="img-responsive"
						ng-src="data:image/JPEG;base64,{{randomPhotoLandscape}}">
				</div>
				<div class="col-md-9">
					<p>Hello,</p>
					<p>
						<a href="#" class="btn btn-primary btn-large">Learn More</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
