	<div class="row" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
		<div class="col-md-3" style="width: 60px;">
			<input type="text"  ng-keyup="focusFamilia($event)" ng-model="selected" class="affix form-control">
		</div>
		<div class="col-md-3">
			<abn-tree 
			    tree-data         = "my_treedata"
			    tree-control      = "my_tree"
			    on-select         = "my_tree_handler(branch)"
			    expand-level      = "2"
			    icon-leaf         = "fa fa-pagelines"
		    	icon-expand       = "fa fa-circle" 
		    	icon-collapse     = "fa fa-circle-o">      
			</abn-tree>
		</div>
		<div class="col-md-6 text-center">
			<div class="affix">
				<div class="thumbnail">
					<img 
						ng-src="data:image/JPEG;base64,{{randomPhotoFlowerInTree}}">
				</div>
			</div>
		</div>
	</div>
<!--     	icon-expand       = "icon-plus-sign" -->
<!-- icon-collapse     = "icon-minus-sign" -->

<!-- icon-expand       = "icon-collapse-down"  -->
<!-- icon-collapse     = "icon-collapse-up" -->