<div id="container">
	<div class="row">
		<div class="col-md-12">
			<div id="section_title">
				Lista de taxones de la cuadrícula UTM: 
				<span class="text-info">{{utm}}</span>
			</div>
		</div>
	</div>
	<div class="bs-docs-example">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td><b>{{taxonList.length}}</b></td>
					<td><b>Nombre del Taxon</b></td>
					<td><b>Familia</b></td>
					<td><b>Mapa Distribución | Ficha biológica</b></td>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="taxon in taxonList | itemsPerPage: pageSize" current-page="currentPage" >
					<td><span class="badge badge-info">{{(currentPage-1)*pageSize + $index+1}}</span></td>
					<td>{{taxon.nombre}}</td>
					<td>{{taxon.familia}}</td>
					<td>
						<a href ng-click="nav.searchSpecy(taxon.nombre)">
						Ver especie
					</a></td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="components/pagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>
