<div id="container">
	<div class="row">
		<div class="col-md-12">
			<div id="section_title">
				<b>{{taxonList.length}} </b>
				 especies en la cuadrícula UTM: 
				<span class="text-info">{{utm}}</span>
			</div>
		</div>
	</div>
	<div class="bs-docs-example">
		<div class="form-group">
			<input ng-model="q" id="search" class="form-control" placeholder="Escribe para buscar">
		</div>					
	
		<table class="table table-striped table-hover">
			<thead>
				<tr>
<!-- 					<td><b></b></td> -->
					<td></td>
					<td><b>Especie</b></td>
					<td><b>Género</b></td>
					<td><b>Familia</b></td>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="taxon in taxonList | filter:q | itemsPerPage: pageSize" current-page="currentPage" >
<!-- 					<td><span class="badge badge-info">{{(currentPage-1)*pageSize + $index+1}}</span></td> -->
					<td>
						<a href ng-click="nav.searchSpecy(taxon.nombre)" title={{taxon.foto.comentario}} > 
							<img ng-src={{taxon.foto.thumbnailURL}} alt={{taxon.foto.comentario}}></img>
						</a>					
					</td>
					<td>
						<a href ng-click="nav.searchSpecy(taxon.nombre)">
						{{taxon.nombre}}
						</a>
					</td>
					<td>
						<a href ng-click="nav.searchGenus(taxon.genero)">
						{{taxon.genero}}
						</a>
					</td>
					<td>
						<a href ng-click="nav.searchFamily(taxon.familia)">
						{{taxon.familia}}
						</a>
					</td>
					
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="components/pagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>
