	<div id="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row" id="titleContainer">
					<div id="section_title" class="section-title-column">
						Zona: <span class="text-info" >{{modelZone.nombreZona}}</span>
					</div>
				</div>
				<div class="row">
					<div id="links">
						<div class="row">
						  <div ng-repeat="foto in modelZone.fotos|limitTo:6"  class="col-xs-6 col-md-2">
						    <a href={{foto.originalURL}} title={{foto.comentario}} data-gallery class="thumbnail">
						    	<img src={{foto.small240URL}} alt={{foto.comentario}}></img>
						    </a>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bs-docs-example">
			<ul id="main_tabs" class="nav nav-tabs">
				<li class="active"><a href="javascript:;" data-target="#distribTab" data-toggle="tab">Mapa
						Distribución</a></li>
				<li><a href="javascript:;" data-target="#genusTab" data-toggle="tab">Listado especies</a></li>
				
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="distribTab">
					<div class="row rightSidebar">
						<div class="col-md-8">
							<div id="dvLoading">
								<div class="well">
									Cargando citas:
									<div class="progress progress-striped active">
										<div class="bar" style="width: 100%;"></div>
									</div>
								</div>
							</div>

							<div id="wrapper">

								<div id="map_canvas"></div>
								<div id="legend" style="visibility: hidden" class="legend_main"></div>
								<div id="map_info" class="utm_search_taxon"></div>

							</div>
							<div id="fus_info"></div>

							<div id="mapButtons">
								<div class="btn-group">
									<button id="hideCitationsBt"
										class="btn btn-small citEnabled btn-info" type="button"
										onclick="showUTMSquares()">Distribución de citas</button>

								</div>
			
								<div class="btn-group">
									<button id="addGridBt" class="btn btn-small gridDisabled"
										type="button" onclick="loadUTMGrid()">Cuadrícula UTM</button>
									<button id="addSectorGridBt"
										class="btn btn-small sectorGridDisabled" type="button"
										onclick="loadSectorGrid( false )">Sectores</button>
								</div>

							</div>

							<div id="legend_test"></div>

						</div>
						<div class="col-md-4">
						
							<b>Citas: </b> <span id="citationCount" class="badge badge-info">-</span>
							<b> UTMs: </b> <span id="utmCount" class="badge badge-info">-</span>

							<div id="chart_div" style="width: 355px; height: 20px"></div>

							<div id="sectorTable">

								<ul class="nav nav-pills">
									<li class="disabled"><a href="javascript:;" data-target="#sectTitle"><h5>Sectores</h5></a>
									</li>
									<li class="divider"></li>
									<li class="active"><a href="javascript:;" data-target="#sectCit" data-toggle="tab">Citas</a>
									</li>
									<li><a href="javascript:;" data-target="#sectUTM" data-toggle="tab">UTMs</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="sectCit">
										<table>
											<tr>
												<td>La Muela</td>
												<td class="centerTd"><span id="sector_1"
													class="badge badge_sector_1">0</span></td>
												<td><span id="sector_1_p" class="label"></span></td>
											</tr>
											<tr>
												<td>Campo de Borja</td>
												<td class="centerTd"><span id="sector_2"
													class="badge badge_sector_2">0</span></td>
												<td><span id="sector_2_p" class="label"></span></td>
											</tr>
											<tr>
												<td>La Sierra</td>
												<td class="centerTd"><span id="sector_3"
													class="badge badge_sector_3">0</span></td>
												<td><span id="sector_3_p" class="label"></span></td>
											</tr>
											<tr>
												<td>El Moncayo</td>
												<td class="centerTd"><span id="sector_4"
													class="badge badge_sector_4">0</span></td>
												<td><span id="sector_4_p" class="label"></span></td>
											</tr>
											<tr>
												<td>Somontano</td>
												<td class="centerTd"><span id="sector_5"
													class="badge badge_sector_5">0</span></td>
												<td><span id="sector_5_p" class="label"></span></td>
											</tr>
											<tr>
												<td>Magallón</td>
												<td class="centerTd"><span id="sector_6"
													class="badge badge_sector_6">0</span></td>
												<td><span id="sector_6_p" class="label"></span></td>
											</tr>
										</table>

									</div>
									<div class="tab-pane" id="sectUTM">
										<table>
											<tr>
												<td>La Muela</td>
												<td class="centerTd"><span id="sector_1_utm"
													class="badge badge_sector_1">0</span></td>
												<td><span id="sector_1_p_utm" class="label"></span></td>
											</tr>
											<tr>
												<td>Campo de Borja</td>
												<td class="centerTd"><span id="sector_2_utm"
													class="badge badge_sector_2">0</span></td>
												<td><span id="sector_2_p_utm" class="label"></span></td>
											</tr>
											<tr>
												<td>La Sierra</td>
												<td class="centerTd"><span id="sector_3_utm"
													class="badge badge_sector_3">0</span></td>
												<td><span id="sector_3_p_utm" class="label"></span></td>
											</tr>
											<tr>
												<td>El Moncayo</td>
												<td class="centerTd"><span id="sector_4_utm"
													class="badge badge_sector_4">0</span></td>
												<td><span id="sector_4_p_utm" class="label"></span></td>
											</tr>
											<tr>
												<td>Somontano</td>
												<td class="centerTd"><span id="sector_5_utm"
													class="badge badge_sector_5">0</span></td>
												<td><span id="sector_5_p_utm" class="label"></span></td>
											</tr>
											<tr>
												<td>Magallón</td>
												<td class="centerTd"><span id="sector_6_utm"
													class="badge badge_sector_6">0</span></td>
												<td><span id="sector_6_p_utm" class="label"></span></td>
											</tr>
										</table>

									</div>
								</div>
							</div>
							<br />
							<table>
								<tbody>
									<tr>
										<td class="fontNormal"><span class="text-info"><strong>Descripción:</strong></span></td>
									</tr>
									<tr>
										<td class="fontNormal" align="justify"><span
											class="fontComentarios"> {{modelZone.descripcion}} </span>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
					
					<div class="row">
						<h3>Imágenes:</h3>
						<span id="photoCount" class="badge badge-info">{{modelZone.fotos.length}}</span>
						
						<div id="links">
							<div class="row">
							  <div ng-repeat="foto in modelZone.fotos"  class="col-xs-6 col-md-3">
							    <a href={{foto.originalURL}} title={{foto.comentario}} data-gallery class="thumbnail">
							    	<img src={{foto.small240URL}} alt={{foto.comentario}}></img>
									<p class="text-info">
										<small>{{foto.utm}}</small>
									</p>
							    </a>
							  </div>
							</div>
						</div>
						<ng-include src="'partials/gallery.html'"></ng-include>
					</div>
				</div>
				<div class="tab-pane" id="genusTab">
					<div id="commentList">
						<div class="form-group">
							<label for="search">Search</label>
							<input ng-model="q" id="search" class="form-control" placeholder="Filter text">
						</div>					
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<td><b>{{modelZone.especies.length}}</b></td>
									<td><b>Nombre del Taxon</b></td>
									<td><b>Familia</b></td>
									<td><b>Mapa Distribución | Ficha biológica</b></td>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="especie in modelZone.especies | filter:q | itemsPerPage: pageSize" current-page="currentPage" >
									<td><span class="badge badge-info">{{(currentPage-1)*pageSize + $index+1}}</span></td>
									<td >{{especie.nombre}}</td>
									<td>{{especie.familia}}</td>
									<td>
										<a href ng-click="nav.searchSpecy(especie.nombre)">
										Ver especie
									</a></td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls boundary-links="true" template-url="components/pagination/dirPagination.tpl.html"></dir-pagination-controls>
					</div>


				</div>
				
			</div>
		</div>	

	</div>

